@media screen and (max-width:980px){
  .header__img{
    width: 75%;
    left: 12.5%;
  }

  .title{
    font-size: 50px;
  }

  .header__marq-txt{
    font-size: 20px;
  }

  .section_title{
    font-size: 2.5rem;
  }

  .about__wrapper{
    flex-direction: column;
  }

  .about_img, .about_txt{
    width: 100%;
  }

  .about_txt{
    text-align: center;
    padding: 0 2rem;
  }

  .about .section_title{
    text-align: center;
  }
}

@media screen and (max-width:786px){
   .header__img{
    width: 100%;
    left: 0%;
  }

  .title{
    font-size: 35px;
  }

  .benefits .benefits_list{
    gap: 0;
  }

  .benefits .benefits_item{
    width: 50%;
    padding: 25px;
  }

  .benefits_num{
    font-size: 45px;
  }

  .benefits_p{
    font-size: 16px;
  }

  .work{
    padding-top: 120px;
  }

  .work-wrap{
    gap: 60px;
  }

  .work-item{
    width: 100%;
    height: auto;
  }

  .work-item-num{
    font-size: 50px;
  }

  .serv-item{
    display: flex;
    flex-direction: column;
  }
  
  .serv-item .serv-item-arrow{
    position: relative;
    left: 300px;
  }

  .serv-item .serv-item-text{
    font-size: 35px;
  }

  .footer-wrapper{
    font-size: 35px;
    text-align: center;
    letter-spacing: 12px;
  }

}

